{# Override schemingdcat upload field to add cloudstorage functionality #}
{% ckan_extends %}

{# Extend the upload field with cloudstorage modules #}
{% block image_upload_field %}
  {{ super() }}
  
  {# Load CloudStorage JavaScript assets #}
  {% asset 'cloudstorage-js/main' %}
  
  {# Determine which module to use based on configuration #}
  {% set use_multipart = h.cloudstorage_use_secure_urls() %}
  {% set use_azure_direct = h.cloudstorage_use_azure_direct_upload() %}
  {% set use_enhanced = h.cloudstorage_use_enhanced_upload() %}
  
  <script>
    $(document).ready(function() {
      // Wait a bit for the form to be fully rendered
      setTimeout(function() {
        // Find the file input field for this specific upload field
        var fieldName = '{{ field.field_name }}';
        var uploadFieldName = '{{ field.upload_field }}';
        var $fileInput = $('input[type="file"][name="' + uploadFieldName + '"]');
        
        if ($fileInput.length > 0) {
          // Get package name from the form
          var $form = $fileInput.closest('form');
          var pkgName = $form.find('input[name="name"]').val() || 
                        $form.find('input[name="id"]').val() || 
                        '{{ data.get("name", "") }}' || 
                        '{{ data.get("id", "") }}';
          
          // Resource ID if editing
          var resourceId = '{{ data.get("id", "") }}';
          
          // Determine which module to use
          var moduleName = 'cloudstorage-multipart-upload';
          {% if use_azure_direct %}
            moduleName = 'cloudstorage-azure-direct-upload';
          {% elif use_enhanced %}
            moduleName = 'cloudstorage-enhanced-upload';
          {% endif %}
          
          // Add data attributes for CloudStorage module
          $fileInput.attr({
            'data-module': moduleName,
            'data-module-cloud': 'S3',
            'data-module-pkg_name': pkgName,
            'data-module-resource_id': resourceId,
            'data-module-package-id': '_' + pkgName,
            'data-module-field_name': fieldName
          });
          
          // Initialize the CKAN module
          if (window.ckan && window.ckan.module) {
            window.ckan.module.initializeElement($fileInput[0]);
          }
          
          console.log('CloudStorage: Initialized ' + moduleName + ' for field ' + uploadFieldName);
        }
      }, 100);
    });
  </script>
{% endblock %}