[depends]

main = base/main

[groups]

cloudstorage-multipart-upload =
    vendor/jquery-widget.js
    vendor/file-upload.js
    cloudstorage-multipart-upload.js

cloudstorage-azure-direct-upload =
    vendor/jquery-widget.js
    vendor/file-upload.js
    cloudstorage-azure-direct-upload.js

cloudstorage-enhanced-upload =
    vendor/jquery-widget.js
    vendor/file-upload.js
    cloudstorage-enhanced-upload.js

